<div id="main_content">
  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
</div><% @user.each do |user| %>
<h1>

<%= user.username %>
<%= user.password %>|
<%= link_to 'edit' , edit_user_path(user) %>|
<%= link_to 'Delete' , user_path(user), method: :delete,data: {confirm: 'Are you sure?'} %>
</h1>

<% end %>