<!DOCTYPE html>
<html>
<head>
  <title>Lib</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sidebar">

<!--<ul>
# <li class="category"><%= link_to "Home", root_path%></li>
  <li class="category">About</li>
</ul>
-->
</div>
  <div id="header">
    <strong><p style="color: darkcyan; font-family: 'Lucida Sans'; font-size: larger;">Library System</p></strong>
    <div class="buttons">
      <button class="button"><%= link_to "Sign Up", :controller => 'Users', :action => 'new' %></button>
      <button class="button"><%= link_to "Login", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>

    <%= yield %>
<div style="margin:5% 5%;">
  <% provide(:title, 'Sign up') %>
  <h1>Sign up</h1>



  <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
          <div id="errors">
            <h2> <%= pluralize(@user.errors.count, "error") %>
            </h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                  <li> <%= msg  %></li>
              <% end %>
            </ul>
      <% end %>
User Name: <%= f.text_field :username %>
      <br><br>
Email ID: <%= f.email_field :email %>
      <br><br>
Password: <%= f.password_field :password %>
      <br><br>
Confirm Password: <%= f.password_field :password_confirmation %>
      <br><br>
      <%= f.submit "Create my account" %>
  <% end %>



  </div>
</body>
</html>

