<!DOCTYPE html>
<html>
<head>
  <title>Lib</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sidebar">
<div id="logo">
<%= link_to root_path do %>
<!--<%= image_tag "logo.jpg" %>-->
<% end %>
</div>
<!--<ul>
# <li class="category"><%= link_to "Home", root_path%></li>
  <li class="category">About</li>
</ul>
-->
</div>
<div id="main_content">
 <!-- <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Sign Up", :controller => 'Users', :action => 'new' %></button>
      <button class="button"><%= link_to "Login", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
-->
<div id="main_content">
  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
  </div>
    <%= yield %>
</div>
</body>
</html><% provide(:title, 'Sign up') %>
<div id="sidebar">
<div id="logo">
<%= link_to root_path do %>
<!--<%= image_tag "logo.jpg" %>-->
<% end %>
</div>
<ul>
  <li class="category"><%= link_to "Profile", :action => 'userprofile' %></li>
  <li class="category"><%= link_to "Manage Admins", :action => 'manageadmin' %></li>
    <li class="category"><%= link_to "Add Admin", :action => 'addadmin' %></li>
    <li class="category"><%= link_to "Create a room", :controller => 'rooms', :action => 'new' %></li>
    <li class="category"><%= link_to "View Members", :action => 'viewmembers' %></li>
    <li class="category"><%= link_to "View Room", :controller => 'rooms', :action => 'index' %></li>
</ul>
</div>
<h1>Sign up</h1>



    <%= form_for (@access) , :url  => url_for(:controller => 'access', :action => 'admincreate')  do |f| %>
    <% if @access.errors.any? %>
<div id="errors">
	<h2> <%= pluralize(@access.errors.count, "error") %> 
	</h2>
	<ul>
		<% @access.errors.full_messages.each do |msg| %>
<li> <%= msg  %></li>
<% end %>
	</ul>
<% end %>
      <%= f.label :username %>
      <%= f.text_field :username %>
<br>
      <%= f.label :email %>
      <br>
      <%= f.email_field :email %>
<br>
      <%= f.label :password %>
      <br>

      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.label :isAdmin, "Admin?" %>
      <%= f.select :isAdmin, [['Yes','true']]  %>
      <%= f.submit "Create my account" %>
    <% end %>

