<!DOCTYPE html>
<html>
<head>
  <title>Lib</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
    <%= yield %>
<div id="sidebar">

  <ul>
    <li class="category"><%= link_to "Home", :action => 'roomadmin' %></li>
    <li class="category"><%= link_to "Profile", :action => 'userprofile' %></li>
    <li class="category"><%= link_to "Add Admin", :action => 'addadmin' %></li>
    <li class="category"><%= link_to "Manage Admins", :action => 'manageadmin' %></li>
    <li class="category"><%= link_to "Manage Members", :action => 'viewmembers' %></li>
    <li class="category"><%= link_to "Add Room", :controller => 'rooms', :action => 'new' %></li>
    <li class="category"><%= link_to "Manage Rooms", :controller => 'rooms', :action => 'index' %></li>
    <li class="category"><%= link_to "View All Reservations", :controller => 'access', :action => 'viewallbooking' %></li>
    <li class="category"><%= link_to "View Future Schedule For Rooms", :controller => 'access', :action => 'viewroomfutureschedule' %></li>
    <li class="category"><%= link_to "View Reservations History For Rooms", :controller => 'access', :action => 'viewroombookinghistory' %></li>
    <li class="category"><%= link_to "View Reservations By Users", :controller => 'access', :action => 'viewuserbooking' %></li>
    <li class="category"><%= link_to "Create/Delete Reservations", :controller => 'access', :action => 'admincreatebooking' %></li>
  </ul>
</div>

<div style="margin:5% 5%;">

<h1>Add New Admin</h1>



    <%= form_for (@access) , :url  => url_for(:controller => 'access', :action => 'admincreate')  do |f| %>
    <% if @access.errors.any? %>
<div id="errors">
	<h2> <%= pluralize(@access.errors.count, "error") %> 
	</h2>
	<ul>
		<% @access.errors.full_messages.each do |msg| %>
<li> <%= msg  %></li>
<% end %>
	</ul>
<% end %>
    <h3>
User Name: <%= f.text_field :username %>
<br>
Email ID:  <%= f.email_field :email %>
<br>
Password:  <%= f.password_field :password %>
<br>
Confirm: <%= f.password_field :password_confirmation %>
<br><br>
Is Admin: <%= f.select :isAdmin, [['Yes','true']]  %>
      <br><br><br>
      <%= f.submit "Create Account" %>
    </h3>
    <% end %>

  </div>
  </div>
</body>
</html>