
<div id="main_content">
  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
</div>
<%= form_for @access, :url  => url_for(:controller => 'access', :action => 'updateprofile'), :method => :POST do |f| %>

<% if @access.errors.any? %>
<div id="errors">
	<h2> <%= pluralize(@access.errors.count, "error") %> 
	</h2>
	<ul>
		<% @access.errors.full_messages.each do |msg| %>
<li> <%= msg  %></li>
<% end %>
	</ul>
<% end %>
<p>
<%=f.label :username %>
<%=f.label $globalusername %>
</p>
<p>
<%=f.label :password %>
<%=f.password_field :password%>
</p>
<p>
<%=f.label :email %>
<%=f.text_field :email%>
</p>
<p>
<%= f.submit %>
</p>
<% end %> 