  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
<div id="sidebar">
<ul>
  <li class="category"><%= link_to "Home", :action => 'roomuser' %></li>
	<li class="category"><%= link_to "Profile", :action => 'userprofilebyuser' %></li>
  <li class="category"><%= link_to "View/Book Room", :controller => 'access',:action => 'viewroomdetailsbyuser' %></li>
  <li class="category"><%= link_to "View Booking", :controller => 'access',:action => 'viewbooking' %></li></ul>
</div>
<%= form_for @access, :url  => url_for(:controller => 'access', :action => 'updateprofile'), :method => :POST do |f| %>
      <div style="margin:5% 5%;">

<% if @access.errors.any? %>
<div id="errors">
	<h2> <%= pluralize(@access.errors.count, "error") %> 
	</h2>
	<ul>
		<% @access.errors.full_messages.each do |msg| %>
<li> <%= msg  %></li>
<% end %>
	</ul>
</div>
<% end %>
        <h1>Edit User Profile</h1>
<p>
User Name: <strong><%=f.label $globalusername %></strong>
</p>
<p>
Password: <%=f.password_field :password%>
</p>
<p>
Email Id: <%=f.text_field :email%>
</p>
<p>
<%= f.submit "Update"%>
</p>
<% end %>
  </div>