  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
<div id="sidebar">
<ul>
  <li class="category"><%= link_to "Home", :action => 'roomuser' %></li>
	<li class="category"><%= link_to "Profile", :action => 'userprofile' %></li>
	<li class="category"><%= link_to "View/Book Room", :controller => 'access',:action => 'viewroomdetailsbyuser' %></li>
  <li class="category"><%= link_to "View Booking", :controller => 'access',:action => 'viewbooking' %></li>
</ul>
  </div>
  <div style="margin:5% 5%;">
    <h1>Select Time</h1>
<p>
	<% if $globalbookdate==Time.now.strftime("%Y-%m-%d") %>
	<% a=(((Time.now.hour)+1)..23).to_a %>
	<% else %>
<% a=(0..23).to_a %>
<% end %>
<% @booked.each do |booked| %>
<% if booked.start_time != nil %>
<% bookedtime = booked.start_time.hour %>
<% a.delete(bookedtime) %>
<% a.delete(bookedtime.to_i + 1) %>
<% a.delete(bookedtime.to_i - 1) %>
<% end %>
<% end %>
</p>
<%= form_tag(:action  => 'finall')do  %>
<p>
Select Start Time (hrs):  <%= select_tag(:start_time, options_for_select(a))  %>
</p>
<p>
<%= submit_tag("Book") %>
</p>
<% end %>
    </div>