<!DOCTYPE html>
<html>
<head>
  <title>Lib</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sidebar">

<!--<ul>
# <li class="category"><%= link_to "Home", root_path%></li>
  <li class="category">About</li>
</ul>
-->
</div>
  <div id="header">
    <strong><p style="color: darkcyan; font-family: 'Lucida Sans'; font-size: larger;">Library System</p></strong>
    <div class="buttons">
      <button class="button"><%= link_to "Sign Up", :controller => 'Users', :action => 'new' %></button>
      <button class="button"><%= link_to "Login", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>

    <%= yield %>

<div style="margin:5% 5%;">


<% @page_title = "Login " %>
 <%= form_tag(:action  => 'attempt_login') do  %>
 
    
      <%= label_tag(:username) %>
      <%= text_field_tag(:username) %>
<br><br>
      <%= label_tag(:password) %>
      <br>
      <%= password_field_tag (:password) %>
      <br><br>
      <%= label_tag(:Admin?) %>
      <%= check_box_tag(:isAdmin) %>
<br><br>

      <%= submit_tag("Login") %>
    <% end %>
</div>

</body>
</html>