<div id="main_content">
  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
</div><% @access.each do |access| %>
<div id="sidebar">
<div id="logo">
<%= link_to root_path do %>
<!--<%= image_tag "logo.jpg" %>-->
<% end %>
</div>
<ul>
	<li class="category"><%= link_to "Profile", :action => 'userprofile' %></li>
	<li class="category"><%= link_to "Manage Admins", :action => 'manageadmin' %></li>
		<li class="category"><%= link_to "Add Admin", :action => 'addadmin' %></li>
		<li class="category"><%= link_to "Create a room", :controller => 'rooms', :action => 'new' %></li>
		<li class="category"><%= link_to "View Members", :action => 'viewmembers' %></li>
		<li class="category"><%= link_to "View Room", :controller => 'rooms', :action => 'index' %></li>
</ul>
</div>
<h1>

<%= access.username %>
<%= access.email %>|
<%= link_to 'Delete' ,:controller =>'Access' , :action => 'destroy' , id: access.id, method: :delete,data: {confirm: 'Are you sure?'} %>
</h1>

<% end %>