<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="sidebar">
<div id="logo">
<%= link_to root_path do %>
<!--<%= image_tag "logo.jpg" %>-->
<% end %>
</div>
<ul>
	<li class="category"><%= link_to "Profile", :action => 'userprofile' %></li>
	<li class="category">View History</li>
</ul>
</div>
<div id="main_content">
	<div id="header">
		<p>Library System</p>
<!--		<div class="buttons">
			<button class="button"><%= link_to "Sign Up", :controller => 'Users', :action => 'new' %></button>
			<button class="button"><%= link_to "Login", :controller => 'Access', :action => 'login' %></button>
		</div>
-->
	</div>

		<%= yield %>
</div>
</body>
</html>