<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <p>Library System</p>
    <div class="buttons">
       <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>

    </div>
  </div>
<div id="sidebar">

<ul>
  <li class="category"><%= link_to "Home", :action => 'roomuser' %></li>
  <li class="category"><%= link_to "Profile", :action => 'userprofilebyuser' %></li>
	<li class="category"><%= link_to "View/Book Room", :controller => 'access',:action => 'viewroomdetailsbyuser' %></li>
  <li class="category"><%= link_to "View Booking", :controller => 'access',:action => 'viewbooking' %></li>

</ul>
</div>
		<%= yield %>
  <div style="margin:5% 5%;">

  <h1>Library Member Home</h1>
    </div>
</body>
</html>