
  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
<div id="sidebar">

  <ul>
    <li class="category"><%= link_to "Home", :action => 'roomadmin' %></li>
    <li class="category"><%= link_to "Profile", :action => 'userprofile' %></li>
    <li class="category"><%= link_to "Add Admin", :action => 'addadmin' %></li>
    <li class="category"><%= link_to "Manage Admins", :action => 'manageadmin' %></li>
    <li class="category"><%= link_to "Manage Members", :action => 'viewmembers' %></li>
    <li class="category"><%= link_to "Add Room", :controller => 'rooms', :action => 'new' %></li>
    <li class="category"><%= link_to "Manage Rooms", :controller => 'rooms', :action => 'index' %></li>
    <li class="category"><%= link_to "View/Delete Reservations", :controller => 'access', :action => 'viewallbooking' %></li>
    <li class="category"><%= link_to "View Future Schedule For Rooms", :controller => 'access', :action => 'viewroomfutureschedule' %></li>
    <li class="category"><%= link_to "View Reservations History For Rooms", :controller => 'access', :action => 'viewroombookinghistory' %></li>
    <li class="category"><%= link_to "View Reservations By Users", :controller => 'access', :action => 'viewuserbooking' %></li>
    <li class="category"><%= link_to "Create Reservations", :controller => 'access', :action => 'admincreatebooking' %></li>
  </ul>
</div>
  <div style="margin:5% 5%;">
<h1>Profile Details</h1>
<h2>
User Name: <strong><%= @access.username %></strong> <br><br>
Email ID: <strong><%= @access.email %></strong> <br><br><br>
</h2>
   <h3> <button class="button"><%= link_to 'EDIT' , :controller => 'Access', :action => 'editprofileadmin' %></button>
   </h3>
  </div>
