<!DOCTYPE html>
<html>
<head>
  <title>Library</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
  <div id="sidebar">


    <ul>
      <li class="category"><%= link_to "Home", :controller => 'access',  :action => 'roomadmin' %></li>
      <li class="category"><%= link_to "Profile", :controller => 'access', :action => 'userprofile' %></li>
      <li class="category"><%= link_to "Add Admin", :controller => 'access', :action => 'addadmin' %></li>
      <li class="category"><%= link_to "Manage Admins", :controller => 'access', :action => 'manageadmin' %></li>
      <li class="category"><%= link_to "Manage Members", :controller => 'access', :action => 'viewmembers' %></li>
      <li class="category"><%= link_to "Add Room", :controller => 'rooms', :action => 'new' %></li>
      <li class="category"><%= link_to "Manage Rooms", :controller => 'rooms', :action => 'index' %></li>
      <li class="category"><%= link_to "View/Delete Reservations", :controller => 'access', :action => 'viewallbooking' %></li>
      <li class="category"><%= link_to "View Future Schedule For Rooms", :controller => 'access', :action => 'viewroomfutureschedule' %></li>
      <li class="category"><%= link_to "View Reservations History For Rooms", :controller => 'access', :action => 'viewroombookinghistory' %></li>
      <li class="category"><%= link_to "View Reservations By Users", :controller => 'access', :action => 'viewuserbooking' %></li>
      <li class="category"><%= link_to "Create Reservations", :controller => 'access', :action => 'admincreatebooking' %></li>
    </ul>
  </div>
  <div style="margin:5% 5%;">

  <h1>View All Reservations:</h1>

    <table style="width:100%; font-size: larger;">
      <tr>
        <th>Room Number</th>
        <th>User Name</th>
        <th>Booking Date</th>
        <th>Booking Time(Hrs)</th>
      </tr>
      <% @allbooking.each do |result| %>
          <tr>
            <td><%= result.roomnum %></td>
            <td><%= result.name %></td>
            <td><%= result.booking_date %></td>
            <td><%= result.start_time.hour%>:00 - <%= ((result.start_time.hour)+2)%24 %>:00</td>
            <td><u><%= link_to 'Delete', :controller => 'Access' , :action => 'destroybooking' , :roomnum => result.id,method: :delete %></u></td>
          </tr>
      <% end %>
    </table>

</div>
</body>
</html>