  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
<div id="sidebar">
<ul>
  <li class="category"><%= link_to "Home", :action => 'roomuser' %></li>
  <li class="category"><%= link_to "Profile", :action => 'userprofilebyuser' %></li>
  <li class="category"><%= link_to "View/Book Room", :controller => 'access',:action => 'viewroomdetailsbyuser' %></li>
  <li class="category"><%= link_to "View Booking", :controller => 'access',:action => 'viewbooking' %></li>

</ul>
</div>
<body>
<div style="margin:5% 5%;">
<h1>View & Book Rooms</h1>
  <h3>
	<table style="width:100%">
		<tr>
			<th> Room number</th>
			<th>Size</th>
			<th>Location</th>
		</tr>

		<% @room.each do |roomadd| %>
		<tr>
			<td><%= roomadd.room_no %></td>
			<td><%= roomadd.size %> Chairs</td>
			<td><%= roomadd.location %></td>
			<td><u><%= link_to 'Book', :controller => 'Access' , :action => 'bookroomdate' , :room_no => roomadd.room_no %></u></td>
				</tr>
		<% end %>
	</table></h3>
</div>
</body>