<div id="main_content">
  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
</div>
<div id="sidebar">
<div id="logo">
<%= link_to root_path do %>
<!--<%= image_tag "logo.jpg" %>-->
<% end %>
</div>
<ul>
	<li class="category"><%= link_to "Profile", :action => 'userprofilebyuser' %></li>
	<li class="category">View History</li>
		<li class="category"><%= link_to "View/Book Room", :controller => 'access',:action => 'viewroomdetailsbyuser' %></li>

</ul>
</div>
<body>
	<table style="width:100%">
		<tr>
			<th> Room number</th>
			<th>Size</th>
			<th>Location</th>
		</tr>

		<% @room.each do |roomadd| %>
		<tr>
			<td><%= roomadd.room_no %></td>
			<td><%= roomadd.size %></td>
			<td><%= roomadd.location %></td>
			<td><%= link_to 'Book', :action => 'bookroomdate'%></td>
				</tr>
		<% end %>
	</table>
<%= link_to 'Back', :controller => 'rooms', :action => 'new' %>
</body>