  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
<div id="sidebar">

<ul>
  <li class="category"><%= link_to "Home", :action => 'roomuser' %></li>
	<li class="category"><%= link_to "Profile", :action => 'userprofilebyuser' %></li>
  <li class="category"><%= link_to "View/Book Room", :controller => 'access',:action => 'viewroomdetailsbyuser' %></li>
  <li class="category"><%= link_to "View Booking", :controller => 'access',:action => 'viewbooking' %></li>
</ul>
</div>
<body>
<div style="margin:5% 5%;">
  <h1>View All Bookings</h1>
<h3>
	<table style="width:100%">
		<tr>
			<th> Room number</th>
			<th>Booking Date</th>
			<th>Start Time</th>
		</tr>

		<% @room.each do |roomadd| %>
		<tr>
			<td><%= roomadd.roomnum %></td>
			<td><%= roomadd.booking_date %></td>
			<td><%= roomadd.start_time.hour %></td>
			<td><u><%= link_to 'Delete', :controller => 'Access' , :action => 'dest' , :roomnum => roomadd.id,method: :delete %></u></td>
				</tr>
		<% end %>
	</table></h3>
</div>
</body>