
  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>

<div id="sidebar">

  <ul>
    <li class="category"><%= link_to "Home", :controller => 'access',  :action => 'roomadmin' %></li>
    <li class="category"><%= link_to "Profile", :controller => 'access', :action => 'userprofile' %></li>
    <li class="category"><%= link_to "Add Admin", :controller => 'access', :action => 'addadmin' %></li>
    <li class="category"><%= link_to "Manage Admins", :controller => 'access', :action => 'manageadmin' %></li>
    <li class="category"><%= link_to "Manage Members", :controller => 'access', :action => 'viewmembers' %></li>
    <li class="category"><%= link_to "Add Room", :controller => 'rooms', :action => 'new' %></li>
    <li class="category"><%= link_to "Manage Rooms", :controller => 'rooms', :action => 'index' %></li>
    <li class="category"><%= link_to "View/Delete Reservations", :controller => 'access', :action => 'viewallbooking' %></li>
    <li class="category"><%= link_to "View Future Schedule For Rooms", :controller => 'access', :action => 'viewroomfutureschedule' %></li>
    <li class="category"><%= link_to "View Reservations History For Rooms", :controller => 'access', :action => 'viewroombookinghistory' %></li>
    <li class="category"><%= link_to "View Reservations By Users", :controller => 'access', :action => 'viewuserbooking' %></li>
    <li class="category"><%= link_to "Create Reservations", :controller => 'access', :action => 'admincreatebooking' %></li>
  </ul>
</div>
<body>
<div style="margin:5% 5%;">

<h1>List Of All Rooms:</h1>
	<table style="width:100%; font-size: larger;">
		<tr>
			<th> Room number</th>
			<th>Size</th>
			<th>Location</th>
		</tr>

		<% @room.each do |roomadd| %>
		<tr>
			<td><%= roomadd.room_no %></td>
			<td><%= roomadd.size %> chairs</td>
			<td><%= roomadd.location %></td>
			<td><u><%= link_to 'Show', room_path(roomadd)%></u></td>
						<td><u><%= link_to 'Edit', edit_room_path(roomadd)%></u></td>
			<td><u><%= link_to 'Delete', room_path(roomadd), method: :delete%></u></td>
				</tr>
		<% end %>
	</table>
  </div>
</body>