<div id="main_content">
  <div id="header">
    <p>Library System</p>
    <div class="buttons">
      <button class="button"><%= link_to "Logout", :controller => 'Access', :action => 'login' %></button>
    </div>
  </div>
</div>
<div id="sidebar">
<div id="logo">
<%= link_to root_path do %>
<!--<%= image_tag "logo.jpg" %>-->
<% end %>
</div>
<ul>
	<li class="category"><%= link_to "Profile", :controller => 'access', :action => 'userprofile' %></li>
	<li class="category"><%= link_to "Manage Admins", :controller => 'access', :action => 'manageadmin' %></li>
		<li class="category"><%= link_to "Add Admin", :controller => 'access', :action => 'addadmin' %></li>
		<li class="category"><%= link_to "Create a room", :controller => 'rooms', :action => 'new' %></li>
		<li class="category"><%= link_to "View Members", :controller => 'access', :action => 'viewmembers' %></li>
		<li class="category"><%= link_to "View Room", :controller => 'rooms', :action => 'index' %></li>
</ul>
</div>
<p>
	<strong>Room number:</strong>
<%= @room.room_no %>
</p>
<p>
	<strong>Room Size:</strong>
<%= @room.size %>
</p>
<p>
	<strong>Location:</strong>
<%= @room.location %>
</p>
<%= link_to 'Back', :controller => 'rooms', :action => 'index' %>
